@model Genre
@{
    ViewData["Title"] = "_AddGenrePartialView";
    var isCreate = Model.Id == 0;
}

<div class="modal fade" role="dialog" tabindex="-1" id="addGenre" aria-labelledby="addGenreLable" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:lightblue !important;">
            <div class="modal-header"><h3>Genre</h3></div>
            <div class="modal-body">
                <form asp-action="CreateOrEdit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="GenreName" class="control-label"></label>
                        <input asp-for="GenreName" class="form-control" />
                        <span asp-validation-for="GenreName" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="@(isCreate?"Create":"Edit")" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
