@model cinema_project.Models.Genre

@{
    ViewData["Title"] = "_DeleteGenrePartialView";
}

<div class="modal fade" role="dialog" tabindex="-1" id="deleteGenre" aria-labelledby="DeleteGenreLable" aria-hidden="true">
    <div class="modal-dialog" modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content" style="background-color:lightblue !important;">
            <div class="modal-header"><h3>Delete Genre</h3></div>

            <div class="modal-body">
                <h4>Are you sure you want to delete this item?</h4>
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.GenreName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.GenreName)
                    </dd>
                </dl>
                <form asp-action="Delete" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>