@model Hall;

@{
	ViewData["Title"] = "Seats";
	int rows = Model.Rows;
	int cols = Model.Columns;
	int hallId = Model.Id;
	int sessionId = Model.Sessions[0].Id;
	int usefull_var = 0;
	List<string> occupiedSeats = ViewBag.OccupiedSeats;
}
<div id="ticketOrder"></div>
<h1>Choose one seat</h1>
<table class="table">
	<tbody>
		<tr>
			<div style="width:900px; height:24px; border: 3px solid #7400b8; margin: 35px auto; background-color:#72efdd;"> </div>
		</tr>
		@for (int row = 0; row < rows; row++)
		{
			<tr >
				<th>
					<div>
						@{
							usefull_var = row + 1;
						}
						@usefull_var row
					</div>
				</th>
				@for (int col = 0; col < cols; col++)
				{
                    <td>
                        @if (occupiedSeats.Contains($"{row},{col}")) // Перевірка, чи місце зайняте
                        {
                            <button type="button" class="btn btn-danger"  style="height:38px; width:41px;" disabled>X</button>
                        }
						else
						{
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#buyTicket" onclick="buyTicket(@row,@col,@hallId, @sessionId)">
							<div style="height:15px; width:15px; display: inline-block;">
								<div style="display: flex; justify-content: center;">
									@{
										usefull_var = col + 1;
									}
									@usefull_var
								</div>
							</div>
						</button>
						}
					</td>
				}
			</tr>
		}
	</tbody>
</table>


<script>
	function buyTicket(row, column, hallId, sessionId) {
		$.ajax({
			type: "Get",
			url: "/Home/BuyTicket?row=" + row + "&column=" + column + "&hallId=" + hallId + "&sessionId=" + sessionId,
			success: function (result) {
				$("#ticketOrder").html(result);
				$("#buyTicket").modal('show');
			}
		});
	}
</script>
