@model IEnumerable<cinema_project.Models.Seat>

@{
    ViewData["Title"] = "Seats";
    int Rows = 5; // верніть сюда кількість рядків у холі
    int Cols = 7; // верніть сюда кількість колонок у холі
    int usefull_var = 0;
}

<h1>Choose one seat</h1>
<table class="table">
    <tbody>
        <tr>
            <div style="width:900px;border: 12px solid #CAF9FF; margin: 0px 0px 3% 15%"> </div>
        </tr>
        @for (int row = 0; row < Rows; row++)
        {
            <tr>
                <th>
                    <div>
                        @{
                            usefull_var = row + 1;
                        }
                        @usefull_var row
                    </div>
                </th>
                @for (int col = 0; col < Cols; col++)
                {
                    <td>
                        <a asp-action="ChoosePlace"> @* залишіть тут лінк на купівлю квитка чи що*@
                            <div style="height:100px; width:100px; border: 5px solid #611B0C; display: inline-block;">
                                <div style="display: flex; justify-content: center;">
                                    @{
                                        usefull_var = col + 1;
                                    }
                                    @usefull_var
                                </div>
                            </div>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
